<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Files of Otters - DEMO</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/groups.css' %}">
</head>

<body>
  <nav>
    <header><h1>Files of Otters</h1></header>

    <ul id="nav-list">
      <li><a href="{% url 'filesharing:index' %}">Home</a></li>
      <li class="current"><a href="{% url 'filesharing:manage-groups' %}">Groups</a></li>
      <li id="log-in-info">Logged in as <strong>{{ user.username }}</strong>.</li>
      <li>
        <form method="post" action="{% url 'filesharing:logout' %}">
          {% csrf_token %}
          <input id="log-out-button" type="submit" value="Log out">
        </form>
      </li>
    </ul>
  </nav>

  <main>
    {% if messages %}
    <section>
      <ul class="status-list">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

    <section>
      <h2># Create a group</h2>

      <form id="new-group-form" method="post" action="{% url 'filesharing:group-create' %}">
        {% csrf_token %}
        <label for="name">Group name:</label>
        <input id="new-group-name" type="text" name="name" required>
        <input class="submit-button" type="submit" value="Create">
      </form>
    </section>

    <section>
      <h2># Your groups</h2>

      {% if groups %}
      <ul id="groups-list">
      {% for group in groups %}
        <li class="groups-item">
          <span class="group-name">{{ group.display_name }}</span>
          <a href="{% url 'filesharing:group-delete' group.id %}">
            <button class="delete-group-button">Delete</button>
          </a>

          <ul class="member-list">
            {% for member in group.user_set.all %}
            <li class="member-list-item">
                {{ member.username }}
                <a href="{% url 'filesharing:group-member-remove' group.id member.username %}">
                  <button class="remove-member-button">x</button>
                </a>
            </li>
            {% endfor %}
          </ul>

          <form class="add-member-form" method="post" action="{% url 'filesharing:group-member-add' %}">
            {% csrf_token %}
            <label for="name">User:</label>
            <input class="new-member-name" type="text" name="username" required>
            <input type="hidden" name="group_id" value="{{ group.id }}">
            <input class="submit-button" type="submit" value="Add">
          </form>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <p>You don't have any groups.</p>
      {% endif %}
    </section>
  </main>

  <footer>
    <div>
      Icons made by <a href="https://creativemarket.com/Becris" title="Becris">Becris</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </footer>
</body>
</html>
