<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Files of Otters - DEMO</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'filesharing/css/index.css' %}">
</head>

<body>
  <nav>
    <header><h1>Files of Otters</h1></header>
  </nav>

  <main>
    <section>
      You are logged in as '<strong>{{ user.username }}</strong>'.
      <form method="post" action="{% url 'filesharing:logout' %}">
        {% csrf_token %}
        <input type="submit" value="Log out">
      </form>
      <hr>
      <a href="{% url 'filesharing:manage-groups' %}"><button>Manage groups</button></a>
      <hr>
    </section>

    <section>
      {% if messages %}
      <ul class="status-list">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>

    <section>
      <h2># Manage tags</h2>
      <form method="post" action="{% url 'filesharing:tag-create' %}">
        {% csrf_token %}
        <label for="name">Tag name:</label>
        <input type="text" name="name" required>
        <input type="submit" value="Add">
      </form>

      <h3># Available tags</h3>
      <ul>
        {% for tag in tags %}
        <li>
          {{ tag }}
          <a href="{% url 'filesharing:tag-delete' tag.id %}">
            <button>Delete</button>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2># Upload a file</h2>
      <form id="upload-form" method="post" action="{% url 'filesharing:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="the_file">Choose a file:</label>
        <input type="file" name="the_file" required>

        <label for="tags">Choose tags:</label>
        <select name="tags" multiple>
          {% for tag in tags %}
          <option value="{{ tag.id }}">{{ tag.name }}</option>
          {% endfor %}
        </select>

        <input id="upload-button" type="submit" value="Upload">
      </form>
    </section>

    <section>
      <h2># Available files</h2>

      <form method="post" action="{% url 'filesharing:search' %}">
        {% csrf_token %}
        <label for="search">Search by name:</label>
        <input type="text" name="search">

        <label for="search_tags">Choose tags:</label>
        <select name="search_tags" multiple>
          {% for tag in tags %}
          <option value="{{ tag.id }}">{{ tag.name }}</option>
          {% endfor %}
        </select>

        <input type="submit" value="Search">
      </form>

      {% if files %}
      <ul class="file-list">
        {% for file in files %}
        <li class="file-list-item">
          <div class="file-name"><a href="{% url 'filesharing:detail-file' file.id %}"><p>{{ file.name }}</p></a></div>
          <div class="file-size"><p>{{ file.human_size }}</p></div>
          <div class="download-button-container">
            <a class="download-button" href="{{ file.download_url }}" download>
              <img class="download-icon" src="{% static 'filesharing/images/download.png' %}" alt="Download icon">
            </a>
          </div>

          <div class="delete-button-container" >
            <!--
            We use a form to send the delete command. Because HTML forms don't support
            the DELETE method, the backend expects us to use a trick.
            -->
            <form method="post" action="{% url 'filesharing:delete' file.id %}">
              {% csrf_token %}
              <input type="hidden" name="_method" value="delete">
              <div class="delete-button">
                <input type="image" alt="DELETE" class="delete-icon" src="{% static 'filesharing/images/delete.png' %}">
              </div>
            </form>
          </div>
          <ul>
            {% for tag in file.tags.all %}
            <li>
              <a href="{% url 'filesharing:index' %}?tags={{ tag.id }}">#{{ tag.name }}</a>
              <form method="post" action="{% url 'filesharing:tag-detach' file.id tag.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="submit" value="Delete">
              </form>
            </li>
            {% endfor %}
            <form method="post" action="{% url 'filesharing:tag-attach' file.id %}">
              {% csrf_token %}
              <label for="tag_name">New tag:</label>
              <input type="text" name="tag_name" required>
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
              <input type="submit" value="Add">
            </form>
          </ul>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p id="file-list-empty-message">No files found.</p>
      {% endif %}
    </section>
  </main>

  <footer>
    <div>
      Icons made by <a href="https://creativemarket.com/Becris" title="Becris">Becris</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </footer>
</body>
</html>
