<h1>Files of otters</h1>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'filesharing:upload' %}" enctype="multipart/form-data" required>
  {% csrf_token %}
  <label for="the_file">Choose a file to upload:</label>
  <input type="file" name="the_file">
  <input type="submit" value="Upload">
</form>

<h2>Available files</h2>
<ul>
  {% for file in files %}
  <li>
    <p>{{ file.name }}</p>
    <p>{{ file.human_size }}</p>
    <p><a href="{{ file.download_url }}" download>download</a></p>
  </li>
  <hr>
  {% endfor %}
</ul>
