:root {
    --bg1: #fafafa;
    --bg2: #eeeeee;
    --bg3: #050301;
    --theme1: #f05e23;
    --theme2: #b80201;
    --theme1-transparent: rgba(240, 94, 35, 0.5);
    --theme2-transparent: rgba(184, 2, 1, 0.5);
    --dark1: #212121;
}

html {
    font-family: monospace;
}

body {
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

nav {
    background-color: var(--theme1);
    padding: .2rem .2rem 0;
}

nav > header {
    padding: 1rem 2vw;
}

#nav-list {
    align-items: center;
    background: var(--bg3);
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    list-style-type: none;
    margin: -.2rem;
    padding: .2rem 3rem;
}

#nav-list > li {
    color: var(--bg1);
    padding: .5rem 1rem;
}

#nav-list > li a {
    color: var(--bg1);
    outline: none;
    text-decoration: none;
}

#nav-list > li a:hover {
    color: var(--bg1);
    font-size: 1.35rem;
    font-weight: bold;
}

#nav-list > li p {
    margin: 0;
}

#nav-list .current a {
    color: var(--theme2);
    font-weight: bold;
}

#log-in-info {
    font-size: 1.1rem;
}

#log-out-button {
    background: none;
    border: 2px solid var(--theme2);
    border-radius: 5px;
    color: var(--theme1);
    font-weight: bold;
    margin-left: auto;
    padding: .3rem;
}

#log-out-button:hover {
    background: var(--theme2-transparent);
}

main {
    display: block;
    flex: 1 0 auto;
    padding: 1rem 2vw;
}

footer {
    background: var(--bg3);
    color: #fafafa;
    font-size: 1.1em;
    padding: 1rem 2vw;
}

footer a {
    color: #bdbdbd;
}

.status-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.status-list > li {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 1rem .5rem;
    margin-bottom: .2rem;
}

.error {
    background: #fad2cc;
    border-color: #ff4838;
}

.success {
    background: #c2edce;
    border-color: #388087;
}

.submit-button {
    background: var(--bg2);
    border: 2px solid var(--theme2);
    border-radius: 5px;
    font-size: 1.1em;
    padding: .3rem;
}

.submit-button:hover {
    background: var(--theme1);
}

@media only screen and (max-width: 500px) {
    #nav-list {
        align-items: center;
        flex-direction: column;
    }
}
