section {
    margin-bottom: 3rem;
}

/* All this code is buggy and should be rewritten. */

#upload-form {
}

#upload-form label {
    font-size: 1.1em;
}

#file-list-empty-message {
    font-size: 1.1em;
}

#search-form label {
    font-size: 1.1em;
}

.search-bar {
    border-radius: 5px;
    font-size: 1.1em;
    height: 1rem;
    padding: .3rem;
}

.file-list {
    padding: 0;
    list-style-type: none;
}

.file-list-item {
    border-bottom: 2px solid var(--dark1);
    display: grid;
    grid-template-columns: 75% 12.5% 6.25% 6.25%;
    align-items: center;
    padding: .1rem auto;
    margin-top: .5rem;
}

.file-list-item:hover {
    background: var(--bg2);
}

.file-name {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 1rem;
}

.detail-link {
    color: black;
    font-size: 1.1em;
    line-height: 1.5em;
}

.owner-name {
    color: var(--dark1);
}

.file-size {
    padding: 0 1rem;
    text-align: right;
}

.file-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / 5;
    list-style-type: none;
    padding: 0;
}

.file-tags-list > li {
    align-items: center;
    background: var(--theme2);
    border: 2.5px solid var(--theme1);
    border-radius: 10px;
    color: var(--bg1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1em;
    margin: .1rem .2rem;
    padding: .1rem .3rem;
}

.file-tags-list > li a {
    color: var(--bg1);
    font-weight: bold;
    text-decoration: none;
}

.detach-button {
    background: none;
    border: 0;
    color: var(--bg1);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.detach-button:hover {
    color: var(--theme1);
}

.attach-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: 1 / 5;
    padding: auto .2rem;
    margin: .5rem .5rem;
    width: 100%;
}

.attach-form label {
    font-size: 1.1em;
    margin: .1rem;
}

.attach-form input {
    margin: .1rem;
}

.new-tag-name {
    border-radius: 5px;
    font-size: 1.1em;
    height: 1rem;
    padding: .3rem;
}

.download-button-container {
    align-items: center;
    display: flex;
    padding: .2rem;
}

.download-button {
    background: var(--bg2);
    border: 2px solid var(--theme2);
    border-radius: 5px;
    margin: 0 auto;
    padding: .1rem;
    text-align: center;
    width: 60%;
}

.download-button:hover {
    background: #aeff00;
}

.download-icon {
    display: inline-block;
    width: min(3em, 30px);
}

/*
 * The names used for the delete button are kind of wrong.
 * The clickable area is called "the icon".
 */

.delete-button-container {
    align-items: center;
    display: flex;
}

.delete-button-container form {
    margin: 0 auto;
    padding: 0;
    width: 70%;
}

.delete-button {
    background: var(--bg2);
    border: 2px solid var(--theme2);
    border-radius: 5px;
    display: block;
    overflow: hidden;
    padding: .1rem;
    text-align: center;
}

.delete-button:hover {
    background: #ff2800;
}

.delete-icon {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    width: min(3em, 30px);
}

@media only screen and (max-width: 1024px) {
    .file-list-item {
        grid-template-columns: 50% 25% 12.5% 12.5%;
    }

    .download-button {
        width: 96%;
    }

    .delete-button-container form {
        width: 96%;
    }
}

@media only screen and (max-width: 500px) {
    #upload-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
    }

    #search-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
    }
}
